<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.WeChats">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/wc_launcher"
        android:roundIcon="@mipmap/wc_launcher_circle"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <!--android:theme="@style/Theme.AppCompat">       //夜间模式-->
        <activity android:name=".Activity.ActivityWeChat">
        </activity>

        <activity android:name=".Activity.ActivityTalk">
        </activity>

        <activity android:name=".Activity.ActivityContacts" />

        <activity android:name=".Activity.ActivityDiscover">
        </activity>
        <activity android:name=".Activity.ActivityMe" />
        <activity android:name=".Activity.ActivityCircle"
            android:label="@string/pengyouquan">
        </activity>

        <activity android:name=".Activity.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.wechats.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">

            </meta-data>
        </provider>

    </application>

</manifest>